:root {
	/*light bg*/
	/* --colour-text-main:     #b7cf92;
	--colour-text-light:    #fff;
	--colour-bg-main-alpha: rgba(36,36,36, 0.5);
	--colour-accent:        #fff; */

	/*dark bg*/
	 --colour-text-main:      #253210;
	--colour-placeholder-text:#eee;
	--colour-bg-main:         rgb(110,110,110);
	--colour-bg-main-alpha:   rgba(177, 177, 177, 0.5);
	--colour-accent:          #6bd04c;
	--colour-text-accent:     #5ECF00;
	--small:                  12px;
}

body, html {
	height:100%;
	width:100%;
	margin:0;
}

body {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	background-image: url(../../Img/Background/8.png);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

#page {
	width:90%;
	padding:10px;
	margin:auto;
	display:flex;
	flex-direction:column;
	height:100%;
	box-sizing:border-box;
}

#top {
	margin-top:50px;
	margin-bottom:50px;
}

#settings {
	display:flex;
	justify-content: flex-end;
	margin:10px 0;
}

#urls {
	content: '';
	flex-grow:1;
	overflow:auto;
	padding:10px;
}