.clock {
	background-color: var(--colour4);
    color: var(--colour5);
	/* display: flex;
	justify-content: center;
	align-items: center;
	position: relative; */
}

.clock--hide {
	display: none;
}

.clock--show {
	grid-area: clock;
}

.clock__body {
	height: 80%;
	width: 100%;
	padding: 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock__selection {
	padding-top: 1em;
	text-align: center;
	height: 10%;
}

.clock--digital {
	font-family: digital-clock;
	font-size: 12vh; /*width of container is based on vh*/
}

.clock--analog {
	height: 100%;
	width: 100%;
	padding 50px 0;
}

.clock__face {
	stroke: var(--colour5);
	stroke-width: 3;
	fill: none;
}

.clock__center {
	stroke: var(--colour5);
	stroke-width: 1;
	fill: var(--colour3);
}

.clock__center__center {
	fill: none;
}

.clock__hand--seconds,
.clock__hand--minutes,
.clock__hand--hours {
	stroke-width: 3;
}

.clock__hand--seconds {
	stroke-width: 3;
	stroke: var(--colour3);
}

.clock__hand--minutes {
	stroke: var(--colour5);
	stroke-width: 5;
	stroke-linecap: round;
}

.clock__hand--hours {
	stroke: var(--colour5);
	stroke-width: 10;
	stroke-linecap: round;
}

.minute-line {
	stroke: var(--colour3);
	stroke-width: 1;
}

.fiveMinute-line {
	stroke: var(--colour5) !important;
	stroke-width: 3;
}
