@font-face{
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css?family=Raleway:300,700');
}
@font-face{
 font-family: 'digital-clock';
 src: url('../fonts/digital-clock.ttf');
}

:root {
	--colour1: #e4fde1;
    --colour2: #8acb88;
    --colour3: #648381;
    --colour4: #575761;
    --colour5: #ffbf46;
}

body {
    color: var(--colour4);
	background-color: var(--colour1);
	font-family: "Raleway", sans-serif;
	margin: 0;
    font-size:16px;
}

.grid {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 10vh repeat(2, 1fr) repeat(4, 15vh);
	grid-template-rows:  15vh repeat(4, 15vh) 1fr 1fr;
	grid-template-areas:
		"....... search  search  search  search  search  ......."
		"links   links   links   clock   clock   clock   clock  "
		"links   links   links   clock   clock   clock   clock  "
		"links   links   links   clock   clock   clock   clock  "
		"links   links   links   clock   clock   clock   clock  "
		"links   links   links   weather weather weather weather"
		"links   links   links   weather weather weather weather"
}

.grid__item {
	width: 100%;
}

.radioLabel {
    cursor: pointer;
    user-select: none;
}
