.weather {
	background-color: var(--colour5);
	pointer-events: none;
	position: relative;

}

.weather--small {
	grid-area: weather;
	display: grid;
	grid-template-areas: "bottom";
}

.weather--full {
	grid-column-start: clock-start;
	grid-column-end: weather-end;
	grid-row-start: clock-start;
	grid-row-end: weather-end;
	display: grid;
	grid-template-rows: 5% calc(60vh - 5%) 1fr;
	grid-template-areas:
		"clock"
		"top"
		"bottom";
}

.weather__top
{
	grid-area: top;
}

.weather__bottom
{
	grid-area: bottom;
	display: grid;
	grid-template-columns: 1em repeat(6, 1fr) 1em;
	grid-template-rows:  1em repeat(6, 1fr) 1em;
	grid-template-areas:
		"....... ....... ....... ....... ....... ....... ....... ......."
		"....... place   place   place   place   place   place   ......."
		"....... ....... ....... ....... temp    temp    temp    ......."
		"....... ....... ....... ....... temp    temp    temp    ......."
		"....... ....... ....... ....... temp    temp    temp    ......."
		"....... summary summary ....... ....... ....... ....... ......."
		"....... summary summary ....... ....... ....... ....... ......."
		"....... ....... ....... ....... ....... ....... ....... .......";
}

.weather__clock {
	background-color: var(--colour4);
}

.weather--full .weather__clock {
	grid-area: clock;
}

.weather--small .weather__clock,
.weather--small .weather__top {
	display: none;
}


/* content of weather__top */

/* content of weather__bottom */
 .weather__place {
	grid-area: place;
}

.weather__temperature {
	grid-area: temp;
	font-size: 10vh; /*should be relative to container size.. */
}

.weather__summary {
	grid-area: summary;
}

/* making the arrow with ::before and ::after */
.weather--full::before,
.weather--full::after,
.weather--small::before,
.weather--small::after {
	content: '';
	position:absolute;
	width: 10%;
	pointer-events: all;
}

.weather--full:hover::before,
.weather--full:hover::after,
.weather--small:hover::before,
.weather--small:hover::after {
	cursor: pointer;
}

.weather--small::before,
.weather--small::after {
	background-color: var(--colour5);
	height: 20%;
	top: -10px;
	z-index: 100;
}

.weather--full::before,
.weather--full::after {
	background-color: var(--colour4);
	height: 5%;
	top: 2%;
}

.weather--full::before {
	right: 50%;
	transform: skew(0,30deg);
}

.weather--full::after {
	left: 50%;
	transform: skew(0,-30deg);
}

.weather--small::before {
	right: 50%;
	transform: skew(0,-30deg);
}

.weather--small::after {
	left: 50%;
	transform: skew(0,30deg);
}
